@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 dark:text-gray-100;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-gray-900 dark:text-gray-100;
  }

  p, span, li, label, div {
    @apply text-gray-800 dark:text-gray-200;
  }
}
